<ul>
  {% assign url = page.url|remove:'index.html' %}
  <li class="{% if url contains '/map' %}active{% else %}inactive{% endif %}">
    <a href="{{ site.baseurl }}/map">Map</a>
  </li>
  <li class="{% if url contains '/map' or url contains '/subscribe' or url contains '/about' %}inactive{% else %}active{% endif %}">
    <a href="/">Blog</a>
  </li>
  <li class="{% if url contains '/subscribe' %}active{% else %}inactive{% endif %}">
    <a href="/subscribe">Subscribe</a>
  </li>
  <li class="{% if url contains '/about' %}active{% else %}inactive{% endif %}">
    <a href="/about">About</a>
  </li>
</ul>

