<div class="home">
  <div class="measure">
    <div class="posts">
      <p class="lead">Hello! I’m <a href="/about">Kristin</a> and I’m a junior at Purdue University studying Computer Science. This year I’ll be spending more days out of the USA than in it, so I thought I should track my travels as I wander through Europe from January 12th–August 5th, 2017!
      </p>
      {% for post in site.posts %}
      <div class="post-header py2">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <div class="title">
            <h3 class="h1 post-title">{{ post.title }}</h3>

            <p class="post-meta">{{ post.date | date: site.date_format }}</p>
          </div>
          <article class="post-content">
            {% if post.image %}
            <img src="{{ post.image }}" data-src="{{ post.image }}"
                class="popout"
                 alt="{% if post.summary %}{{ post.summary }}{% else %}{{ post.excerpt }}{% endif %}"
                 title="{% if post.summary %}{{ post.summary }}{% else %}{{ post.excerpt }}{% endif %}"/>
            {% endif %}
    
            <div class="clearfix"></div>
            <p>{{ post.summary }}</p>
            <p>
              <em><a href="{{ post.url | prepend: site.baseurl }}">Continue Reading &raquo;</a></em>
            </p>
          </article>
        </a>

      </div>
      <hr/>
      {% endfor %}
    </div>
  </div>
</div>
