.site-header {
  background: $blue;
  color: white;
}

.site-name {
  float: left;
  font-size: 28px;
  border: 6px solid $blue;
  margin: 0;
  border-width: 6px 0;
  color: $dark-gray;
  cursor: pointer;
  line-height: 1em;

  @include mobile {
    float: none;
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    padding: 0.8rem 0;
  }
}

.site-header a {
  color: white;
  font-weight: 300;
  background-image: none;
  text-shadow: none;
}

.site-header .site-title {
  font-family: $title-heading-font-family;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

nav {
  float: right;
  margin-top: 0;
  font-family: $title-heading-font-family;
  font-size: 18px;

  @include mobile {
    float: none;
    display: block;
    font-size: 16px;
  }

  a {
    color: $dark-gray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-type: none;
    font-size: 0;

    @include mobile {
      width: 100%;
    }
  }

  ul li {
    font-weight: bold;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    text-align: center;

    display: inline-block;
    font-size: 0;

    &.active {
      a, a:hover {
        border-bottom: 5px solid #C8C8A9;
      }
    }

    a {
      font-size: 1rem;
      border-bottom: 5px solid transparent;
      padding: 0.8rem;
      display: inline-block;

      &:hover {
        border-bottom: 5px solid white;
        color: white;
      }
    }
  }

}

.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  color: $blue;
}

.site-header {
  text-align: center;
}
